.header__container {
    display: flex;
    flex-direction: row;
}

// .header__text {
//     background-color: purple;
// }

.header__heading {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    /* or 138% */
    color: #111111;
}

.heading__paragraph {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.header__form {
    background-color: beige;
    // min-width: 475px;
}

// .contact__form {
//     min-width: 475px;
// }

.form__container {
    margin-bottom: 46px;
    background-color: pink;
}

.form__enter-info {
    border-top: none;
    border-right: none;
    border-left: none;
    min-width: 300px;
    border-bottom: 1px solid #979797;
    padding-bottom: 16px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}