.header__container {
    margin-top: 4vw;
    margin-bottom: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// .header__text {
//     background-color: purple;
// }

.header__heading {
    max-width: 450px;
    margin-bottom: 2vw;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    /* or 138% */
    color: #111111;
}

.header__paragraph {
    max-width: 450px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.header__form {
    margin-top: 20px;
    // min-width: 475px;
}

// .contact__form {
//     min-width: 475px;
// }

.form__container {
    margin-bottom: 46px;
}

.form__enter-info {
    border-top: none;
    border-right: none;
    border-left: none;
    min-width: 500px;
    border-bottom: 1px solid #979797;
    padding-bottom: 16px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}

// .form-btn {
//     background-color: aqua;
// }

.btn {
    width: 125px;
    height: 50px;
    background-color: #4A4FF2;
    border: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}