.footer__container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    column-gap: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: gray;

    &__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        place-items: center;
    }

    &__list { /*not sure when I should use flex/grid, should I only use one or can I mix them whenever I want?*/
    grid-column: 12 / 14;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // padding-left: -40px; /*does not work "inpropper value"*/
    } /* again "ul(user agent stylesheet) padding-inline-start: 40px;" on my list div, so it doesn't center, don't know why (used reset.css instead, seems to be solved)*/

    &__li {
    list-style: none;
    margin-left: 15px;
    }

    &__link { /*h4*/
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: -0.346154px;
    color: 111111; /* does not work*/
    }

    &__link:hover {
    color: pink; /*does not work*/
    }
}

.footer__logo {
    background-color: pink;
}