.nav {
  /* my code generates a lot of errors in the index.css*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(13, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding-top: 30px;
  padding-bottom: 20px;
  /* again "ul(user agent stylesheet) padding-inline-start: 40px;" on my list div, so it doesn't center, don't know why (used reset.css instead, seems to be solved)*/
}.nav > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.nav > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.nav > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.nav > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}.nav > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}.nav > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}.nav > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}.nav > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}.nav > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}.nav > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}.nav > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}.nav > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}.nav > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 25;
}
.nav__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.nav__list {
  /*not sure when I should use flex/grid, should I only use one or can I mix them whenever I want?*/
  -ms-grid-column: 12;
  -ms-grid-column-span: 2;
  grid-column: 12/14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav__li {
  list-style: none;
  margin-left: 15px;
}
.nav__link {
  /*h4*/
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: -0.346154px;
  color: 111111;
  /* does not work*/
}
.nav__link:hover {
  color: pink;
  /*does not work*/
}

header {
  min-height: 30vh;
}

.header__container {
  margin-top: 7vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
}

.header__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.header__container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.header__container > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.header__container > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.header__container > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.header__container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.header__container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.header__container > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.header__container > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.header__container > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.header__container > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.header__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.header__headline {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: -0.423077px;
  color: #4A4FF2;
  margin-bottom: 15px;
}

.header__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
  color: #111111;
  max-width: 600px;
}

.header__span {
  color: #4A4FF2;
}

.header__quotecontainer {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__quotebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__line {
  background-color: #111111;
  height: 2px;
  width: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.header__quote {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

main {
  /* code stopped working when I tried to use &*/
  margin-top: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(32, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.main__gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(16) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(17) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(18) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(19) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(20) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(21) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(22) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(23) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(24) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(25) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(26) {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(27) {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(28) {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(29) {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(30) {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(31) {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(32) {
  -ms-grid-row: 21;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(33) {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(34) {
  -ms-grid-row: 23;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(35) {
  -ms-grid-row: 23;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(36) {
  -ms-grid-row: 23;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(37) {
  -ms-grid-row: 25;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(38) {
  -ms-grid-row: 25;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(39) {
  -ms-grid-row: 25;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(40) {
  -ms-grid-row: 27;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(41) {
  -ms-grid-row: 27;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(42) {
  -ms-grid-row: 27;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(43) {
  -ms-grid-row: 29;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(44) {
  -ms-grid-row: 29;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(45) {
  -ms-grid-row: 29;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(46) {
  -ms-grid-row: 31;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(47) {
  -ms-grid-row: 31;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(48) {
  -ms-grid-row: 31;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(49) {
  -ms-grid-row: 33;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(50) {
  -ms-grid-row: 33;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(51) {
  -ms-grid-row: 33;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(52) {
  -ms-grid-row: 35;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(53) {
  -ms-grid-row: 35;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(54) {
  -ms-grid-row: 35;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(55) {
  -ms-grid-row: 37;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(56) {
  -ms-grid-row: 37;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(57) {
  -ms-grid-row: 37;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(58) {
  -ms-grid-row: 39;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(59) {
  -ms-grid-row: 39;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(60) {
  -ms-grid-row: 39;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(61) {
  -ms-grid-row: 41;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(62) {
  -ms-grid-row: 41;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(63) {
  -ms-grid-row: 41;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(64) {
  -ms-grid-row: 43;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(65) {
  -ms-grid-row: 43;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(66) {
  -ms-grid-row: 43;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(67) {
  -ms-grid-row: 45;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(68) {
  -ms-grid-row: 45;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(69) {
  -ms-grid-row: 45;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(70) {
  -ms-grid-row: 47;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(71) {
  -ms-grid-row: 47;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(72) {
  -ms-grid-row: 47;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(73) {
  -ms-grid-row: 49;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(74) {
  -ms-grid-row: 49;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(75) {
  -ms-grid-row: 49;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(76) {
  -ms-grid-row: 51;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(77) {
  -ms-grid-row: 51;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(78) {
  -ms-grid-row: 51;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(79) {
  -ms-grid-row: 53;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(80) {
  -ms-grid-row: 53;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(81) {
  -ms-grid-row: 53;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(82) {
  -ms-grid-row: 55;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(83) {
  -ms-grid-row: 55;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(84) {
  -ms-grid-row: 55;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(85) {
  -ms-grid-row: 57;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(86) {
  -ms-grid-row: 57;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(87) {
  -ms-grid-row: 57;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(88) {
  -ms-grid-row: 59;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(89) {
  -ms-grid-row: 59;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(90) {
  -ms-grid-row: 59;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(91) {
  -ms-grid-row: 61;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(92) {
  -ms-grid-row: 61;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(93) {
  -ms-grid-row: 61;
  -ms-grid-column: 5;
}

.main__gallery > *:nth-child(94) {
  -ms-grid-row: 63;
  -ms-grid-column: 1;
}

.main__gallery > *:nth-child(95) {
  -ms-grid-row: 63;
  -ms-grid-column: 3;
}

.main__gallery > *:nth-child(96) {
  -ms-grid-row: 63;
  -ms-grid-column: 5;
}

.Rectangle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  grid-row: 1/8;
}

.brain {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.flowers {
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1/11;
}

.baloon {
  -ms-grid-row: 8;
  -ms-grid-row-span: 8;
  grid-row: 8/16;
}

.freedom {
  -ms-grid-row: 7;
  -ms-grid-row-span: 7;
  grid-row: 7/14;
}

.blind {
  -ms-grid-row: 11;
  -ms-grid-row-span: 7;
  grid-row: 11/18;
}

.ghost {
  -ms-grid-row: 16;
  -ms-grid-row-span: 8;
  grid-row: 16/24;
}

.ball {
  -ms-grid-row: 14;
  -ms-grid-row-span: 9;
  grid-row: 14/23;
}

.piano {
  -ms-grid-row: 18;
  -ms-grid-row-span: 9;
  grid-row: 18/27;
}

.sunset {
  -ms-grid-row: 24;
  -ms-grid-row-span: 9;
  grid-row: 24/33;
}

.sand {
  -ms-grid-row: 23;
  -ms-grid-row-span: 10;
  grid-row: 23/33;
}

.brocolli {
  -ms-grid-row: 27;
  -ms-grid-row-span: 6;
  grid-row: 27/33;
}

.cv__infocontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.cv__infocontainer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.cv__infocontainer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.cv__infocontainer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.cv__infocontainer > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.cv__infocontainer > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.cv__infocontainer > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.cv__header {
  max-width: 600px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  /* or 136% */
  color: #111111;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.cv__li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.first {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.second {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.cv__list {
  margin-bottom: 5px;
}

.cv_container {
  background-color: pink;
}

.cv__line {
  height: 2px;
  width: 1110px;
  background-color: #D8D8D8;
  margin-bottom: 3vw;
}

.cv__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}

.cv__card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.cv__card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.cv__card > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.cv__card > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.cv__card > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.cv__card > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.cv__card > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.cv__card > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.cv__card > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.cv__card > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.cv__card > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.cv__card > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.cv__card > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.cv__card > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.cv__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  color: #111111;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.cv__headingCSS {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  color: #111111;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.cv__headline {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.paragraph__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #111111;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-bottom: 2vw;
}

.paragraph__year {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #111111;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: end;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(13, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: gray;
  /* again "ul(user agent stylesheet) padding-inline-start: 40px;" on my list div, so it doesn't center, don't know why (used reset.css instead, seems to be solved)*/
}

.footer__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.footer__container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.footer__container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.footer__container > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.footer__container > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.footer__container > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.footer__container > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.footer__container > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.footer__container > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}

.footer__container > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}

.footer__container > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}

.footer__container > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 25;
}
.footer__container__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.footer__container__list {
  /*not sure when I should use flex/grid, should I only use one or can I mix them whenever I want?*/
  -ms-grid-column: 12;
  -ms-grid-column-span: 2;
  grid-column: 12/14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__container__li {
  list-style: none;
  margin-left: 15px;
}
.footer__container__link {
  /*h4*/
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: -0.346154px;
  color: 111111;
  /* does not work*/
}
.footer__container__link:hover {
  color: pink;
  /*does not work*/
}

.footer__logo {
  background-color: pink;
}

body {
  margin-left: 20.5vw;
  margin-right: 20.5vw;
}