@use 'fonts';
.nav {
  /* my code generates a lot of errors in the index.css*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[13];
      grid-template-columns: repeat(13, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding-top: 30px;
  padding-bottom: 20px;
  /* again "ul(user agent stylesheet) padding-inline-start: 40px;" on my list div, so it doesn't center, don't know why (used reset.css instead, seems to be solved)*/
}

.nav__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.nav__list {
  /*not sure when I should use flex/grid, should I only use one or can I mix them whenever I want?*/
  -ms-grid-column: 12;
  -ms-grid-column-span: 2;
  grid-column: 12 / 14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__li {
  list-style: none;
  margin-left: 15px;
}

.nav__link {
  /*h4*/
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: -0.346154px;
  color: 111111;
  /* does not work*/
}

.nav__link:hover {
  color: pink;
  /*does not work*/
}

.projects__header {
  margin-top: 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.header__heading {
  max-width: 500px;
  margin-bottom: 2vw;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  /* or 138% */
  color: #111111;
}

.header__paragraph {
  max-width: 650px;
  margin-bottom: 1vw;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #111111;
}

.header__column {
  margin-top: 2vw;
}

.header__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-bottom: 15px;
}

.header__greyh2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header__blackh2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
}

.header__line {
  background: #D8D8D8;
  margin-bottom: 15px;
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 1px solid #979797;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__image-grid {
  margin-top: 5vw;
  margin-bottom: 7vw;
}

.main__paragraph {
  margin-bottom: 3vw;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.main__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.main__img-mount {
  margin-right: 30px;
}

.main__img-flower {
  margin-right: 30px;
}

.footer__container {
  min-height: 4vw;
  margin-top: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__box {
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  min-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: -0.346154px;
  color: #111111;
  text-decoration: none;
}

.footer__link:hover {
  color: pink;
  /*does not work*/
}

.footer__socials {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body {
  margin-left: 20.5vw;
  margin-right: 20.5vw;
}
/*# sourceMappingURL=projects.css.map */